:host{
    /*margin: 1rem;*/
    /*padding: 1rem;*/
    display: grid;
    grid-template-rows: 3.5rem 3.5rem auto;
    border-bottom: gray solid .1rem;
    border-top: gray solid .1rem;
    max-width: 50%;
}

.card-badge {
    width: 2rem;
    height: 2rem;
    display: grid;
    border: lightgrey solid .2rem;
    border-radius: 2rem;
    place-self: center;
}
.card-heading {
    height: 3rem;
    font-size: x-large;
    font-weight: bolder;
}

span {
    place-self: center;
}

::slotted(*) {
    justify-self: center;
    align-self: start;

}

::slotted(*) {
    text-align: justify;
}
