:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 4rem 0;
    padding: 0;
}

h1 {
    font-size: xxx-large;
    text-align: center;
}

h3 {
    text-align: center;
}
