:host {
    display: grid;
    width: 100%;
    margin: 4rem 0;
    padding: 0;
}

h1 {
    justify-self: center;
    font-size: xxx-large;
    text-align: center;
}

h3 {
    justify-self: center;
    text-align: center;
    width: 80%;
}
